.MoviesWrapper{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 220px);;
    gap: 20px 20px;
}

@media screen and (max-width: 800px) {
    .MoviesWrapper{
        grid-template-columns: repeat(2, 220px);;
        gap: 20px 20px;
    }
  }

@media screen and (max-width: 560px) {
    .MoviesWrapper{
        grid-template-columns: repeat(1, 220px);;
        gap: 20px 20px;
    }
  }