.search{
    margin: 0px 0px;
    display: inline-block;
    margin-top:  20px;
}

.search input {
    width: 300px;
    height: 30px;
    color: white;
    background-color: var(--background-color-02);
    border-width: 1px;
    border-color: white;
    border-radius: 3px;
}

.search input:focus {
    border-color: red;

}


.sort-menu{
    margin: 10px;
    padding: 5px;

    label{
        padding: 10px;
    }

    select{
        padding: 10px;
        background-color: var(--background-color-02);
        color: white;
        border: none;
    }

    option{
        background-color: var(--background-color-02);
    }
}

.MoviesWrapper{
    max-width: 1300px;
    width: 100%;
    justify-content:center;
    margin: 60px 0px;
    display: grid;
    grid-template-columns: repeat(4, 220px);;
    gap: 30px 20px;
}

@media screen and (max-width: 1200px) {
    .MoviesWrapper{
        grid-template-columns: repeat(3, 220px);;
    }
  }

@media screen and (max-width: 800px) {
    .MoviesWrapper{
        grid-template-columns: repeat(2, 220px);;
    }
  }

@media screen and (max-width: 560px) {
    .MoviesWrapper{
        grid-template-columns: repeat(1, 200px);;
    }
  }