.div-movie-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.div-movie-page-div-content{
    width: 80%;
    display: flex;

    img{
        margin-right: 20px;
    }
}

.div-movie-page-div-content-info{
    text-align: left; 
}

.like-button {
    cursor: pointer;
    color: white;
    margin-bottom: 50px;

    .far:hover {
        color: red;
    }
}

div .stars{
    margin-bottom: 15px;

    div.star-div{
        cursor: pointer;
        display: inline-block;
        transform: scale(1.5);
        margin: 5px;
        margin-top: 0;
        color: yellow;
    }

    div.star-div:hover ~ div.star-div{
        color: white;
    }
}


@media screen and (max-width: 600px) {
    .div-movie-page-div-content {
        flex-direction: column;
        text-align: center;

        img {
            margin-right: 0px;
            max-width: 260px;
            width: 100%;
            min-width: 200px;
        }
    }
}