div.div-movie-card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--background-color-02);

    img{
        width: 100%;
        /* height: 150px; */
        background-color: var(--background-color-02);
    }
}

div.div-movie-card:hover{
    box-shadow: 1px 1px 5px red;
    cursor: pointer;
}