header.header {
    width: 100%;
    height: var(--height-header);
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: black;
    color: white;
}