html{
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  /* border-top:inherit; */
  /* border-bottom:inherit; */
}

:root{
  --height-header: 50px;
  --height-nav: 50px;
  --height-footer: 100px;
  --background-color-01:rgb(28, 28, 28);
}

.App {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  min-height: calc(min(100vh - (100px)));
  padding-top: 100px ;
  background-color: var(--background-color-01);
  color: white;
}